.home-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    color: var(--white);
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-btns {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-primary {
    background-color: var(--primary-red);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
}

.btn-outline {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-outline:hover {
    background-color: var(--white);
    color: var(--text-main);
}

@media screen and (max-width: 960px) {
    .hero-section h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }
}